@model ItemViewModel

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-primary bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">@(Model.Item.Id != 0 ? "Update":"Create") Item</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row" enctype="multipart/form-data">
            <input asp-for="Item.Id" hidden />
            <div class="border p-3">
                <div class="form-floating py-2 col-12">
                    <input asp-for="Item.Name" class="form-control border-0 shadow" />
                    <label asp-for="Item.Name" class="ms-2"></label>
                    <span asp-validation-for="Item.Name" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Item.Description" class="form-control border-0 shadow" />
                    <label asp-for="Item.Description" class="ms-2"></label>
                    <span asp-validation-for="Item.Description" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <select asp-for="Item.CarBrandId" asp-items="@Model.CarBrandList" class="form-select border-0 shadow">
                        <option disabled selected>--Select Car Brand--</option>
                    </select>
                    <label asp-for="Item.CarBrandId" class="ms-2"></label>
                    <span asp-validation-for="Item.CarBrandId" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Item.Price" class="form-control border-0 shadow" />
                    <label asp-for="Item.Price" class="ms-2"></label>
                    <span asp-validation-for="Item.Price" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input type="file" name="file" class="form-control border-0 shadow" />
                    <label asp-for="Item.ImageUrl" class="ms-2"></label>
                </div>

                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        @if(Model.Item.Id == 0)
                        {
                            <button type="submit" class="btn btn-primary form-control">Create</button>
                        } else
                        {
                            <button type="submit" class="btn btn-primary form-control">Update</button>
                        }
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Item" asp-action="Index" class="btn btn-outline-secondary border form-control">
                            Back to List
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}